{% extends 'base.html.twig' %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>

                <td class="col-9">
                    <a href="{{ path('news_show', {'id': news.id}) }}">{{ news.title }}</a><br>
                    {{ news.body|striptags|length > 100 ? news.body|striptags|slice(0, 120) ~ '...' : news.body|striptags }}
                </td>
                <td class="form-text col-2">{{ news.createdAt ? news.createdAt|date('d-M-y H:i') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}