{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <div class="container">
        {{ include('news/_list.html.twig') }}
    </div>
{% endblock %}
