{% extends 'base.html.twig' %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <div class="p-3">
        <h1 class="h4 p-3">Добро пожаловать на нашу страницу </h1>
        Текст главной страницы

    </div>


{% endblock %}