{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {% block header %} {{ parent() }} {% endblock %}
    <h1>Edit password</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
